
{% extends "base0.html" %}

{% block content %}





<h2 class="title-border" style="text-align: center;">MyCourtCase Blog</h2>
<h3 class="landing-section-heading" style="text-align: justify;">Posts:</h3>

<h4 class="landing-section-heading" style="text-align: justify;">
<a href='posts/should-first-time-dui-offenders-have-ignition-interlock.html'>
  Should First-Time DUI Offenders Have an Ignition Interlock?
</a></h4>
<h4 class="landing-section-heading" style="text-align: justify;">
<a href='posts/florida-stand-your-ground.html'>
  Florida's Proposed Stand Your Ground Law Goes Too Far.
</a></h4>
{% endblock %}
