<!-- extend from base layout -->

<!DOCTYPE html>


{% extends "fl-small-claims/base0.html" %}

{% block content %}


<html lang="en">
<head>

  <p class="hidden-print">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

    <center>

    <h2>Florida Small Claims Assistant</h2>

  </center>
    <p><justify>This app is designed to assist you in filing a small claim in County Court
    or in responding to a small claims case if you have been served with a complaint.</p>




<center>
        <form action="" method="post">
{% csrf_token %}
          {{ indexform.as_p }}

          <p><input type="submit" value="Go"></p>
        </form>
    </div></center>
<br>
<body><td>
<h3><center><b>Baker Act:</b></center></h3>
  <p><justify>The Baker Act is a civil commitment process for people who are a danger to themselves or others
  due to mental illness. The first step to having a person evaluated under the Baker Act is to complete
  and file a Baker Act petition in the court for the county where the person lives or resides.</p>
<h3><center><b>Marchman Act:</b></center></h3>
<p><justify>The Marchman Act is a civil commitment process for people who are a danger to themselves or others
due to substance abuse or addiction. The first step to having a person evaluated under the Marchman Act is to complete
and file a Marchman Act petition in the court for the county where the person lives or resides.</p>
</justify>
</body>

{% endblock %}
