<!-- extend from base layout -->

<!DOCTYPE html>


{% extends "fl-small-claims/base0.html" %}

{% block content %}


<html lang="en">
<head>

  <p class="hidden-print">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

    <center>

    <h2>Florida Small Claims Assistant</h2>

  </center>
    <p><center><b>Did a person <i>other than the driver</i> own the car that caused the accident?</b></p>


        <form action="" method="post">
{% csrf_token %}
          {{ choicesform.as_p }}

          <p><input type="submit" value="Continue"></p>
        </form>
    </div></center>


{% endblock %}
