<!-- extend from base layout -->

<!DOCTYPE html>


{% extends "fl-small-claims/base0.html" %}

{% block content %}


<html lang="en">
<head>

  <p class="hidden-print">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

    <center>

    <h2>Florida Small Claims Assistant</h2>

  </center>
    <p><justify>This app is designed to assist you in small claims complaint in County Court.
      To build a complaint all you have to do is answer some simple questions.
      The app will build a pdf copy of your small claims complaint that you can
      save and print.</p>




<center>
        <form action="" method="post">
{% csrf_token %}
          {{ indexform.as_p }}

          <p><input type="submit" value="Get Started"></p>
        </form>
    </div></center>
<br>


{% endblock %}
