<!-- extend from base layout -->

<!DOCTYPE html>


{% extends "fl-small-claims/base0.html" %}

{% block content %}


<html lang="en">
<head>

  <p class="hidden-print">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

    <center>

    <h2>Florida Small Claims Automobile Accident Complaint:</h2>

  </center>
  <blockquote>
      <center><b><h3>Jurisdiction Information:</h3></b></center>
          <form action="" method="post">
  {% csrf_token %}
    <p style="text-align: left; margin: 10px 30px 10px 30px">In what county did the accident happen? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp{{ header_info.county}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">What is the other driver's full legal name? &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp{{ header_info.respondent}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">What is the full legal name of the vehicle's owner? &nbsp{{ header_info.owner_name}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">What is your full legal name? &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp{{ header_info.petitioner}}</p>
  </blockquote>
  <blockquote>
      <center><b><h3>Your Address and Location Information:</h3></b></center>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Your address: {{ location_info.petitioner_address}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp{{ location_info.petitioner_city}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">State:&nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp{{ location_info.petitioner_state}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Zip code: &nbsp &nbsp &nbsp &nbsp{{ location_info.petitioner_zip}}</p>
    <center><b><h3>The Other Driver's Address and Location Information:</h3></b></center>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Address: &nbsp &nbsp &nbsp &nbsp {{ location_info.respondent_address}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp{{ location_info.respondent_city}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">State: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{ location_info.respondent_state}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Zip code: &nbsp &nbsp &nbsp &nbsp{{ location_info.respondent_zip}}</p>
  <center><b><h3>The Vehicle Owner's Address and Location Information:</h3></b></center>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Address: &nbsp &nbsp &nbsp &nbsp {{ location_info.owner_address}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp{{ location_info.owner_city}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">State: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{ location_info.owner_state}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Zip code: &nbsp &nbsp &nbsp &nbsp{{ location_info.owner_zip}}</p>

</blockquote>

<blockquote>
    <center><b><h3>Amount of Damages:</h3></b>
  <p> ${{ amount_info.amount}}</p>
  <p><i>Must be $5,000.00 or less</i></p></center>
</blockquote>

<blockquote>
    <center><b><h3>Please Complete the Following Questions:</h3></b></center>
  <p style="text-align: left; margin: 10px 30px 10px 30px"> The date of the accident:  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp {{ description_info.date_of_accident}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px"> The city or town nearest to the accident location: {{ description_info.city_of_accident}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px"> Were you physically injured as a result of the accident? {{ description_info.physical_injuries}}</p>
</blockquote>
  <center>
      <h3>Create a PDF Copy of Your Small Claims Complaint:<h3>
      <p><input type="submit" value="Create Complaint"></p>
    </form>  </center>
{% endblock %}
