{% extends "base0.html" %}

{% block content %}

<h3 class="title-border" style="text-align: center;">
  Florida's Stand Your Ground Bill Goes Too Far</h3>
<center>
  <img href="" src="https://res.cloudinary.com/hjbqakjln/image/upload/v1489209353/30876913676_b226447b65_skehef.jpg" alt="image description" style="width:304px;height:228px;">
</center>
<p class="landing-section-heading" style="text-align: justify;">
A <a href"http://www.myfloridahouse.gov/Sections/Bills/billsdetail.aspx?BillId=56702">new bill changing Florida's stand your ground immunity law</a> is making its way
through the Florida legislature. At least one <a href="http://www.tampabay.com/opinion/columns/column-stand-your-ground-changes-bad-for-law-enforcement/2315131">State Attorney has come out in
opposition</a>, saying it would make the law overbroad and be a complete waste of
taxpayer money. The existing law itself is already controversial, to say the least. If the bill
is passed, the law will become even more so.
</p>
<p class="landing-section-heading" style="text-align: justify;">
  But what, exactly, does this new law change? Let's start with a
  look at what the law currently says, and <a href"http://www.myfloridahouse.gov/Sections/Documents/loaddoc.aspx?FileName=_s0128e1.DOCX&DocumentType=Bill&BillNumber=0128&Session=2017">what the new bill would add</a>.
</p>
<blockquote class="landing-section-heading" style="text-align: justify;">
  A person who uses or threatens to use force as permitted in
  s. 776.012, s. 776.013, or s. 776.031 ... <br><br>
  <i>Before we go any further we should figure out what the
    "as permitted in" part is referencing.
    <a href="http://www.leg.state.fl.us/statutes/index.cfm?App_mode=Display_Statute&Search_String=&URL=0700-0799/0776/Sections/0776.012.html">
      Here's
  the most well known part:</a></i>
<br><br>
A person is justified in using or threatening to use deadly force if he or she
reasonably believes that using or threatening to use such force is necessary to
prevent imminent death or great bodily harm to himself or herself or another or
to prevent the imminent commission of a forcible felony. A person who uses or
threatens to use deadly force in accordance with this subsection does not have
a duty to retreat and has the right to stand his or her ground if the person
using or threatening to use the deadly force is not engaged in a criminal
activity and is in a place where he or she has a right to be.<br><br>
<i>Ok - back to it</i>
<br><br>
  ...is justified in such conduct and is immune from criminal prosecution and
  civil action for the use or threatened use of such force by the person,
  personal representative, or heirs of the person against whom the force was
  used or threatened, unless the person against whom force was used or
  threatened is a law enforcement officer, as defined in s. 943.10(14),
  who was acting in the performance of his or her official duties and the
  officer identified himself or herself in accordance with any applicable l
  aw or the person using or threatening to use force knew or reasonably should
  have known that the person was a law enforcement officer. As used in this
  subsection, the term “criminal prosecution” includes arresting, detaining
  in custody, and charging or prosecuting the defendant.
</blockquote>
<p class="landing-section-heading" style="text-align: justify;">
  Here's the part that the new legislation would add:
</p>
<blockquote class="landing-section-heading" style="text-align: justify;">
  In a criminal prosecution, a defendant may file a
  pretrial motion claiming the right to the immunity from
  prosecution set forth in subsection (1). The motion must clearly
  state the reasons that the defendant is immune and allege the
  facts on which the claim of immunity is based. The court shall
  grant the motion after a pretrial hearing unless the state
  proves beyond a reasonable doubt that the defendant is not
  immune.
</blockquote>
<p class="landing-section-heading" style="text-align: justify;">
  Let's break it down.
</p>
<p class="landing-section-heading" style="text-align: justify;">
  First, the new law outlines a procedure (note: not the only
  procedure) a defendant may use in asserting stand your ground immunity.
  This procedure is essentially the same one defendants use now - filing a
  motion to dismiss the case and claiming that they are entitled to immunity
  under the stand your ground law. If the motion is granted, the case is over.
  If the motion isn't granted the defendant can still assert stand your ground
  immunity at trial.
</p>
<p class="landing-section-heading" style="text-align: justify;">
The next part of the bill is, quite frankly, unprecedented.
"The court shall grant the motion after a pretrial hearing <b>unless the state
proves beyond a reasonable doubt that the defendant is not
immune.</b>"
</p>
<p class="landing-section-heading" style="text-align: justify;">
  Let's step back a moment and talk about the way our court system handles
  a defendant's motion to dismiss the case. The prosecution always bears the
  burden of proof in a criminal case overall. When a defendant moves to dismiss
  the prosecution's case under a claim of immunity, the defendant is
  admitting to the facts of the case and claiming they had a good reason to do it.
  When a defendant does this, they bear the burden of proof in proving that defense
  actually applies.
</p>
<p class="landing-section-heading" style="text-align: justify;">
  The new stand your ground bill would completely reverse this.
</p>
<p class="landing-section-heading" style="text-align: justify;">
  Think about it this way - right now the system works, in the broad strokes,
  like this:
</p>
<blockquote>
<p class="landing-section-heading" style="text-align: justify;">
  Prosecution: "You killed that guy!"<br><br>
  Defendant: "Ok let's say I did. But I had a good reason - I 'reasonably' thought
  that guy was going to kill or seriously injure me."<br><br>
  Prosecution: "Prove it."
</p>
</blockquote>
<p class="landing-section-heading" style="text-align: justify;">
  If this law goes into effect, the system will work like this:
</p>
<blockquote>
<p class="landing-section-heading" style="text-align: justify;">
  Prosecution: "You killed that guy!"<br><br>
  Defendant: "Ok let's say I did. But I had a good reason - I 'reasonably' thought
  that guy was going to kill or seriously injure me."<br><br>
  Prosecution: "Ok..."
  Defendant: "Prove me wrong!"
</p>
</blockquote>
<p class="landing-section-heading" style="text-align: justify;">
  Essentially the new law enacts the legal scenario in this tweet:
</p>
<center>
<blockquote class="twitter-tweet" data-lang="en" style="text-align: center;"><p lang="en" dir="ltr">ATHEIST: That was satisfying!<br>ATHEIST&#39;S GIRLFRIEND: No it wasn&#39;t <br>ATHEIST: [Vaping] The burden of proof is on you</p>&mdash; THE LEGO BRO DUDE (@ironghazi) <a href="https://twitter.com/ironghazi/status/687366773532942336">January 13, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</center>
<p class="landing-section-heading" style="text-align: justify;">
  As you can imagine, this is bad for a host of reasons. Shifting the burden of
  proof to the prosecution on the defendant's affirmative defense does, as Andrew
  Warren claims, create two trials in one case. Not only must the prosecution
  prove that the defendant killed the person, they must prove a negative - that
  the defendant wasn't in reasonable fear of their life or of being seriously injured.
  Not only do they have to prove a negative, they have to do it <i>beyond and to the
  exclusion of every reasonable doubt</i> - the highest standard we have.
</p>
<p class="landing-section-heading" style="text-align: justify;">
The prosecution should be held to the highest burden of proof, but only when
trying to prove their case in chief. Prosecutors (and taxpayers) should bear
the burden of proving a negative in every murder, homicide, attempted murder,
battery, and assault case.
</p>
<p class="landing-section-heading" style="text-align: justify;">
If this law is enacted it can and will lead to some very unjust results. Let's
hope the legislature shuts it down before it gets to our courtrooms. 
</p>
<a href="https://creativecommons.org/licenses/by-nc/2.0/">(photo license)</a>
{% endblock %}
