
{% extends "base0.html" %}

{% block content %}





<h3 class="title-border" style="text-align: center;">Should First-Time DUI Offenders Have an Ignition Interlock?</h3>


<p class="landing-section-heading" style="text-align: justify;">
  A <a href="https://www.myfloridahouse.gov/Sections/Bills/billsdetail.aspx?BillId=58649"> bill </a> making its way through the Florida Legislature would require first-time
  DUI offenders to install a ignition interlock in their car. Right now anyone convicted of a second DUI or a DUI above a 0.15 has to have the ignition interlock installed. The reason
  behind the bill, and essentially upping the penalties and costs associated with a DUI conviction, is to prevent people from getting behind the wheel drunk. People, or
  so the logic goes, who get one DUI are more likely to get a second DUI and / or cause a traffic accident.
</p>
<p class="landing-section-heading" style="text-align: justify;">
   But is this really true?
</p>

<p class="landing-section-heading" style="text-align: justify;">
Let's say first-off that reducing the number of drunk drivers and DUI-related accidents is an admirable and worthy goal. But no matter how good the intentions, our laws
need to be well thought out and the potential consequences fully explored before we start implementing half-baked solutions. Here's some problems I see with the automatic
requirement for a ignition interlock on every DUI conviction:
</p>

<p class="landing-section-heading" style="text-align: justify;">
<b>In some counties people who can afford a private attorney are far more likely to avoid a DUI conviction than a person who must use the public defender.</b><br><br>
Public defenders do an admirable job. They work hard for their clients. Many times they get good results. But in many counties there is a clear divide in the outcomes of DUI
cases between people who can afford <i>any</i> private attorney and those who must use the public defender. Take, for example, Hillsborough County over the past five years:

</p>

<script type="text/javascript">
  google.charts.load("current", {packages:['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  var inView = false;
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
      ["Private Attorney", 49, "color: #121ca5", '%'],
      ["Public Defender", 60, "color: #4651f2",'%'],
      ["No Attorney", 73, "color: #84b1f9", '%']
    ]);

    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,

                       { calc: "stringify",
                       sourceColumn: 1,
                       type: "string",
                       role: "annotation",
                       size: 50
                        },
                     2]);

    var options = {
      inView: false,
      is3d: true,
      vAxis: {format: '#\'%\''},
      backgroundColor: {fill: 'transparent'},
      bar: {groupWidth: "85%"},
      legend: { position: "none" },
      animation: {
              duration: 1000,
              startup: true,

          },
      tooltip: {text: 'percentage', format: '#\'%\''},

      title: "Percent of DUI Convictions in Hillsborough County 2011-2016",
      titlePosition: 'out',


    };
    var chart = new google.visualization.ColumnChart(document.getElementById("HC_DUI_conv"));
    chart.draw(view, options);
}



</script>

<div id="HC_DUI_conv" class="chart" align="center" size="75%"></div>
<center><a href="">Source</a></center>

<p class="landing-section-heading" style="text-align: justify;">
There's an 11-percent difference in avoiding a DUI conviction in Hillsborough county <i>just based on whether a person hired a private attorney</i>.
If the law is enacted, it would essentially create an extra burden on lower-income and poor people simply because they couldn't afford to hire a
private attorney. The people who must use the public defender are then more likely to be hit with the added costs associated with having a ignition interlock
in their car. Again, while the goal of the bill is laudable, we need to look on its impact on all people facing the court system.
</p>

<p class="landing-section-heading" style="text-align: justify;">
<b>Most DUI defendants are first-time offenders, not second-time or third-time offenders</b><br><br>
For the vast majority of people who get a DUI it's their first time getting in trouble with the law. If the main purpose of the law is aimed at deterrence of a second DUI,
it seems like our current laws are doing an adequate job already. Commonly-cited statistics show that about 33% of people arrested for a DUI are repeat-offenders. Here's the
rub, though: the bill requires placement of a ignition interlock in the offender's car for a period of six months while they're on probation. It's highly unlikely that a person
convicted of a DUI is going to re-offend within their six-month probation period.
</p>
<p class="landing-section-heading" style="text-align: justify;">
  <b>It could create problems for probation violations</b><br><br>
As mentioned above, the ignition interlock would be placed in the DUI offenders car during their six-month probation period. Imagine then, the potential for probation
  violations if the ignition interlock electronically reports back its results to the probation officer, no matter who is sitting in the driver's seat of the vehicle.
  Again, we see the disproportionate impact on lower-income offenders.
</p>
<p class="landing-section-heading" style="text-align: justify;">
<b>It doesn't account for counties that have a DUI Diversion program</b><br><br>
Orange county, one of the largest counties in Florida, has a DUI Diversion program for first-time DUI offenders. Other counties, like Hillsborough, do not. Essentially
the bill would create a disparate impact on DUI offenders county-to-county. People who are lucky enough to get caught driving drunk in a county that offers diversion
would escape the ignition interlock requirement entirely, while those who are caught in a county without diversion would face the ignition interlock requirement.
</p>
<p class="landing-section-heading" style="text-align: justify;">

Let's hope that good intentions don't get in the way of sound policy, and that our lawmakers take a long hard look at the potential consequences for this bill. 
</p>
{% endblock %}
