<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>My Court Case</title>
    {% endif %}

{% load static %}
<link rel='stylesheet' id='style-css'  href='{% static 'main/stylesheet.css' %}' type='text/css' media='all' />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="icon" href="http://res.cloudinary.com/hwsocmrsg/image/upload/c_scale,w_25/v1484753904/cropped-My-Court-Case-Icon-01-180x180_gpwofh.png" sizes="32x32" />

<link rel="apple-touch-icon-precomposed" href="http://res.cloudinary.com/hwsocmrsg/image/upload/c_scale,w_25/v1484753904/cropped-My-Court-Case-Icon-01-180x180_gpwofh.png" />
<meta name="msapplication-TileImage" content="http://res.cloudinary.com/hwsocmrsg/image/upload/c_scale,w_25/v1484753904/cropped-My-Court-Case-Icon-01-180x180_gpwofh.png" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74351345-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>



  				<header class="topbar" style="fixed" role="">
  			<div class="navbar.fixed">
  				<div class="container clearfix">
  									<a href="/">MY COURT CASE</a>
          </div>
        </div>
	</header>
<br><br>


  	<main class="main container clearfix" role="main">

    {% block content %}












    {% endblock %}

<br><br><br>

<footer>
    <div class="wrapper">
    	<div class="footer-wrapper">
                      <center>
                        <a href="/">HOME</a> &nbsp &nbsp &nbsp
                        <a href="about.html">ABOUT</a>&nbsp &nbsp &nbsp
                        <a href="disclaimer.html">DISCLAIMER</a>&nbsp &nbsp &nbsp
                        <a href="contact.html">CONTACT</a>
    			</div>
    			<div class="footer-inner container title-center">

    		</footer>
    	</div>
    	<main class="main container clearfix" role="main">





</html>
