
{% extends "fl-discrim-helper/base0.html" %}

{% block content %}


    <center>

    <h2>Florida Housing Discrimination Complaint Builder:</h2>
  </center>
  <p style="text-align: justify; margin: 10px 50px 10px 50px !important;">
    Welcome to the Florida Housing Discriminaiton Complaint Questionnaire
    Builder. To generate your complaint, fill in all of the information below.</p>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;">
    <b>The Complaint Questionnaire must be received by the Florida Commission on Human
    Relations within 365 days of the date of the alleged violation. Creating
    the complaint on this website does not file it with the FCHR.</b></p>



<blockquote style="">
    <center><b><h3>Your personal information:</h3></b></center>
        <form action="" method="post">
{% csrf_token %}
  <p style="text-align: left; margin: 10px 30px 10px 30px">First name: &nbsp&nbsp&nbsp{{ cx_housing_form.cx_first_name}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Last name: &nbsp&nbsp&nbsp{{ cx_housing_form.cx_last_name}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Middle initial: {{ cx_housing_form.cx_mi}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px"> Address: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ cx_housing_form.cx_street_address}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Apartment number: {{ cx_housing_form.cx_apt_num}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ cx_housing_form.cx_city}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">County: &nbsp&nbsp&nbsp{{ cx_housing_form.cx_county}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">State: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ cx_housing_form.cx_state}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Zip: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ cx_housing_form.cx_zip}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Phone: &nbsp&nbsp&nbsp&nbsp{{ cx_housing_form.cx_phone}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Email: &nbsp&nbsp&nbsp&nbsp&nbsp{{ cx_housing_form.cx_email}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">DOB: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ cx_housing_form.cx_dob}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Your sex: {{ cx_housing_form.cx_sex}}</p>

</blockquote>

<blockquote>
  <center><b> <h3>Other occupants and / or children:</h3></b></center>
  <p>{{ cx_other_occ_form.as_p}}</p>
</blockquote>

<blockquote >
  <center><b> <h3>Please provide the name of a person we can contact
    if we are unable to reach you:</h3></b></center>
    <p style="text-align: left; margin: 10px 30px 10px 30px">First name: &nbsp&nbsp&nbsp{{ op_housing_form.op_first_name}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Last name: &nbsp&nbsp&nbsp{{ op_housing_form.op_last_name}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Middle initial: {{ op_housing_form.op_mi}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Address: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ op_housing_form.op_street_address}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Apartment number: {{ op_housing_form.op_apt_num}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ op_housing_form.op_city}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">State: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ op_housing_form.op_state}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Zip: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ op_housing_form.op_zip}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Phone: &nbsp&nbsp&nbsp&nbsp{{ op_housing_form.op_phone}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Relationship: {{ op_housing_form.op_relationship}}</p>
</blockquote>

<blockquote>
  <center><b><h3> I believe that I was discriminated against by:</h3></b></center>
  <p style="text-align: left; margin: 10px 30px 10px 30px"> Organization name: {{ dis_housing_form.disorg_name}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Address: &nbsp{{ dis_housing_form.disorg_street_address}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Suite No:&nbsp{{ dis_housing_form.disorg_apt_num}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ dis_housing_form.disorg_city}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">State: &nbsp&nbsp&nbsp&nbsp&nbsp{{ dis_housing_form.disorg_state}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">County: {{ dis_housing_form.disorg_county}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Zip: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ dis_housing_form.disorg_zip}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Phone: &nbsp&nbsp{{ dis_housing_form.disorg_phone}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Type: &nbsp&nbsp&nbsp&nbsp{{ dis_housing_form.disorg_type}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">If 'other', please specify: <br>{{ dis_housing_form.disorg_other_type}}</p>
</blockquote>

<blockquote>
  <center><b><h3> Representative contact information (if known):</h3></b></center>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Name: &nbsp&nbsp&nbsp&nbsp&nbsp{{ rep_housing_form.reporg_name}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Address: &nbsp{{ rep_housing_form.reporg_street_address}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Suite: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ rep_housing_form.reporg_apt_num}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ rep_housing_form.reporg_city}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">State: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ rep_housing_form.reporg_state}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">County: &nbsp&nbsp&nbsp{{ rep_housing_form.reporg_county}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Zip: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ rep_housing_form.reporg_zip}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Phone: &nbsp&nbsp&nbsp&nbsp{{ rep_housing_form.reporg_phone}}</p>


</blockquote>




<blockquote>
  <center><h3><b> What is the reason for your claim of housing discrimination?
              Check all that apply.<br></center></h3><br>
            <justify>For example, if you feel that you were treated worse than
              someone else because of race, you should check the box next to Race.
              If you feel you were treated worse for several reasons, such as
              your sex, religion and national origin, check all that apply. If
              you complained about discrimination, participated in someone else’s
              complaint or filed a charge of discrimination and a negative action
              was threatened or taken, you should check the box next to Retaliation.
  </b></justify>
  <p style="text-align: left; margin: 10px 30px 10px 30px">{{ dis_reason_housing_form.reason_race}} Race</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Your race: {{ dis_reason_housing_form.reason_race_choose}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">{{ dis_reason_housing_form.reason_color}} Color</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Your color: {{ dis_reason_housing_form.reason_color_choose}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">{{ dis_reason_housing_form.reason_natorigin}} National origin</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Your national origin: {{ dis_reason_housing_form.reason_natorigin_choose}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">{{ dis_reason_housing_form.reason_familial}} Familial status</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Your familial status: {{ dis_reason_housing_form.reason_familial_choose}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">{{ dis_reason_housing_form.reason_sex}} Sex</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Your sex: {{ dis_reason_housing_form.reason_sex_choose}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">{{ dis_reason_housing_form.reason_retaliation}} Retaliation</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">{{ dis_reason_housing_form.reason_religion}} Religion</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Your religion: {{ dis_reason_housing_form.reason_religion_desc}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">{{ dis_reason_housing_form.reason_disability}} Disability</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Your disability: {{ dis_reason_housing_form.reason_disability_choose}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">{{ dis_reason_housing_form.reason_other}} Other</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">If you selected 'other,' please describe: {{ dis_reason_housing_form.reason_other_desc}}</p>
</blockquote>

<blockquote>
    <center><h3><b>What type of property was involved? </center></h3>
  <p>{{ housing_prop_type_form.as_p}}</p>

</blockquote>

<blockquote>
    <center><h3><b>What is the address of the propery involved? </center></h3>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Address: &nbsp&nbsp&nbsp{{ housing_address_form.housing_street_address }}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Apt. No.: &nbsp&nbsp&nbsp{{ housing_address_form.housing_apt_num }}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ housing_address_form.housing_city }}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">State: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ housing_address_form.housing_state }}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">County: &nbsp&nbsp&nbsp&nbsp&nbsp{{ housing_address_form.housing_county }}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Zip: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ housing_address_form.housing_zip }}</p>

</blockquote>

<blockquote>
    <center><h3><b>Does the owner live there? </center></h3>
  <p>{{ owner_live_form.as_p}}</p>

</blockquote>

<blockquote>
    <center><h3><b>What happened to you that you believe was discriminatory?</h3><center>
    <justify>Include the date(s) of harm, the action(s), and the
name(s) and title(s) of the person(s) who you believe discriminated against you. </justify></h3>
  <p>{{ describe_housing_form.as_p}}</p>

</blockquote>




<blockquote>
  <center><h3><b> Have you filed this charge previously with HUD or another Agency?</center></h3><br>
  <p>{{ prior_agency_help.as_p}}</p>

</blockquote>

<blockquote>
  <center><h3><b> Have you sought help about this situation from an attorney or any other source?</center></h3><br>
  <p>{{ prior_sought_help.as_p}}</p>

</blockquote>


<blockquote>
  <center><h3><b> Please check one of the boxes below to tell the FCHR what you would
    like them to do with the information you are providing on this questionnaire.<br></center></h3><br>
    <justify>If you would like to file a charge of housing discrimination,
        you must do so within 365 days from the date you were allegedly discriminated
        against. If you do not file a charge of discrimination within the time limit,
        you will lose your ability to file a charge.  If you would like more information
        before filing a charge or you have concerns about the FCHR notifying the
        organization about your charge, you may wish to check Box 1. If you want
        to file a charge, you should check Box 2.</justify><br>
  <p>Box 1: {{ box_1_2.box_1}} I want to talk to an FCHR employee before
      deciding whether to file a charge. I understand that by checking this box,
      I have not filed a charge with the FCHR. I also understand that I could lose my
      ability to file a charge if I do not file in time. </p>
  <p><b><i>or:</i></b></p>
  <p>Box 2: {{ box_1_2.box_2}} I want to file a charge of discrimination, and I
    authorize the FCHR to look into the discrimination I described above.
    I understand that the FCHR must give the individual or organization that I accuse
    of discrimination information about the charge, including my name.  I also
    understand that the FCHR can only accept charges of housing discrimination based
    on race, color, national origin, sex, disability, familial status, religion or
    retaliation for opposing discrimination.   </p>

</blockquote>


      <center>
          <h3>Create a PDF Copy of Your Complaint:<h3>
          <p><input type="submit" value="Create Complaint"></p>
        </form>  </center>

  <h3><center>After the form is printed, please sign and date it, then mail or fax it to:</center></h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
The Florida Commission on Human Relations
<br>
4075 Esplanade Way Room 110
<br>
Tallahassee, FL 32399
<br><br>
Fax: 850-487-1007
<br><br>
Phone: 850-488-7082
<br><br>
<h4 style="text-align: justify; margin: 10px 50px 10px 50px !important;">The questionnaire must be received by the Florida Commission on Human Relations
within 365 days of the date of the alleged violation. Creating the complaint on
this website does not file it with the FCHR.</h4></b>

<body><td>

</justify>
</body>

{% endblock %}
