
{% extends "fl-discrim-helper/base0.html" %}

{% block content %}


    <center>

    <h2>Florida Public Accommodation Discrimination Complaint Builder:</h2>
  </center>
  <p style="text-align: justify; margin: 10px 50px 10px 50px !important;">
    Welcome to the Florida Public Accommodation Discriminaiton Complaint Questionnaire
    Builder. To generate your complaint, fill in all of the information below.</p>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;">
    <b>The Complaint Questionnaire must be received by the Florida Commission on Human
    Relations within 365 days of the date of the alleged violation. Creating
    the complaint on this website does not file it with the FCHR.</b></p>



<blockquote>
    <center><b><h3>Your personal information:</h3></b></center>
        <form action="" method="post">
{% csrf_token %}

  <p style="text-align: left; margin: 10px 30px 10px 30px">First name: &nbsp&nbsp&nbsp{{ cx_pub_acc_form.cx_first_name}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Last name: &nbsp&nbsp&nbsp {{ cx_pub_acc_form.cx_last_name}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Middle initial: {{ cx_pub_acc_form.cx_mi}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px"> Address: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ cx_pub_acc_form.cx_street_address}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Apartment number: {{ cx_pub_acc_form.cx_apt_num}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ cx_pub_acc_form.cx_city}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">County: &nbsp&nbsp&nbsp{{ cx_pub_acc_form.cx_county}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">State: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ cx_pub_acc_form.cx_state}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Zip: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ cx_pub_acc_form.cx_zip}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Phone: &nbsp&nbsp&nbsp&nbsp{{ cx_pub_acc_form.cx_phone}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Email: &nbsp&nbsp&nbsp&nbsp&nbsp {{ cx_pub_acc_form.cx_email}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">DOB: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ cx_pub_acc_form.cx_dob}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Your sex: &nbsp{{ cx_pub_acc_form.cx_sex}}</p>

</blockquote>

<blockquote>
  <center><b> <h3>Please provide the name of a person we can contact if we are
    unable to reach you:</h3></b></center>
    <p style="text-align: left; margin: 10px 30px 10px 30px">First name: &nbsp&nbsp&nbsp{{ op_pub_acc_form.op_first_name}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Last name: &nbsp&nbsp&nbsp {{ op_pub_acc_form.op_last_name}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Middle initial: {{ op_pub_acc_form.op_mi}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Address: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ op_pub_acc_form.op_street_address}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Apt. no: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ op_pub_acc_form.op_apt_num}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ op_pub_acc_form.op_city}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">State: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ op_pub_acc_form.op_state}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Zip: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ op_pub_acc_form.op_zip}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Phone: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ op_pub_acc_form.op_phone}}</p>
    <p style="text-align: left; margin: 10px 30px 10px 30px">Relationship: {{ op_pub_acc_form.op_relationship}}</p>
</blockquote>

<blockquote>
  <center><b> <h3>I believe that I was discriminated against by the following
    organization:</h3></b></center>

  <p style="text-align: left; margin: 10px 30px 10px 30px">Name: &nbsp&nbsp&nbsp&nbsp {{disorg_pub_acc_form.disorg_name}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Address: &nbsp {{disorg_pub_acc_form.disorg_street_address}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Suite No:&nbsp&nbsp{{disorg_pub_acc_form.disorg_apt_num}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{disorg_pub_acc_form.disorg_city}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">State: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{disorg_pub_acc_form.disorg_state}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">County: &nbsp&nbsp&nbsp{{disorg_pub_acc_form.disorg_county}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Zip: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{disorg_pub_acc_form.disorg_zip}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Phone: &nbsp&nbsp&nbsp&nbsp{{disorg_pub_acc_form.disorg_phone}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Type: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{disorg_pub_acc_form.disorg_type}}</p>

</blockquote>
</blockquote>

<blockquote>
  <center><b><h3> Organization Representative Contact Information (If known):</h3></b></center>

  <p style="text-align: left; margin: 10px 30px 10px 30px">Name: &nbsp&nbsp&nbsp&nbsp&nbsp{{ reporg_pub_acc_form.reporg_name}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Address: &nbsp {{ reporg_pub_acc_form.reporg_street_address}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Suite: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ reporg_pub_acc_form.reporg_apt_num}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">City: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ reporg_pub_acc_form.reporg_city}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">State: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ reporg_pub_acc_form.reporg_state}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">County: &nbsp&nbsp&nbsp{{ reporg_pub_acc_form.reporg_county}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Zip: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ reporg_pub_acc_form.reporg_zip}}</p>
  <p style="text-align: left; margin: 10px 30px 10px 30px">Phone: &nbsp&nbsp&nbsp&nbsp{{ reporg_pub_acc_form.reporg_phone}}</p>


</blockquote>

<blockquote>
  <center><h3><b> What is the reason for your claim of public Accommodation discrimination?
              Check all that apply.<br></center></h3><br>
            <justify>For example, if you feel that you were treated worse than someone
              else because of race, you should check the box next to race.
              If you feel you were treated worse for several reasons, such as
              your sex, religion and national origin, check all of these boxes.
  </b></justify>
  <p>{{ disreason_pub_acc_form.as_p}}</p>

</blockquote>

<blockquote>
    <justify><p><b>Do you have a disability, which is a physical or mental impairment
                that substantially limits a major life activity, such as caring for
                yourself, performing manual tasks, walking, seeing, hearing,
                speaking, breathing, learning, or working? <justify></p>
  <center><p>{{ disability_ynm.as_p}}</p></center>

</blockquote>

<blockquote>
  <center><h3><b> Have you filed this charge previously with another Agency?</center></h3><br>
  <p>{{ prior_agency_sought_help.as_p}}</p>

</blockquote>

<blockquote>
  <center><h3><b> Have you sought help about this situation from an attorney or any other source?</center></h3><br>
  <p>{{ prior_sought_help.as_p}}</p>

</blockquote>


<blockquote>
  <center><h3><b> Please check one of the boxes below to tell the FCHR what you would
    like them to do with the information you are providing on this questionnaire.<br></center></h3><br>
    <justify>If you would like to file a charge of public accommodations discrimination,
        you must do so within 365 days from the date you were allegedly discriminated
        against. If you do not file a charge of discrimination within the time limit,
        you will lose your ability to file a charge.  If you would like more information
        before filing a charge or you have concerns about the FCHR notifying the
        organization about your charge, you may wish to check Box 1. If you want
        to file a charge, you should check Box 2.</justify><br>
  <p>Box 1: {{ box_1_2.box_1}} I want to talk to an FCHR employee before
      deciding whether to file a charge. I understand that by checking this box,
      I have not filed a charge with the FCHR. I also understand that I could lose my
      ability to file a charge if I do not file in time. </p>
  <p><b><i>or:</i></b></p>
  <p>Box 2: {{ box_1_2.box_2}} I want to file a charge of discrimination, and I
    authorize the FCHR to look into the discrimination I described above.
    I understand that the FCHR must give the individual or organization that I accuse
    of discrimination information about the charge, including my name.  I also
    understand that the FCHR can only accept charges of housing discrimination based
    on race, color, national origin, sex, disability, familial status, religion or
    retaliation for opposing discrimination.   </p>

</blockquote>


      <center>
          <h3>Create a PDF Copy of Your Complaint:<h3>
          <p><input type="submit" value="Create Complaint"></p>
        </form>  </center>

  <h3><center>After the form is printed, please sign and date it, then mail or fax it to:</center></h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
The Florida Commission on Human Relations
<br>
4075 Esplanade Way Room 110
<br>
Tallahassee, FL 32399
<br><br>
Fax: 850-487-1007
<br><br>
Phone: 850-488-7082
<br><br>
<h4 style="text-align: justify; margin: 10px 50px 10px 50px !important;">The questionnaire must be received by the Florida Commission on Human Relations
within 365 days of the date of the alleged violation. Creating the complaint on
this website does not file it with the FCHR.</h4></b>

<body><td>

</justify>
</body>

{% endblock %}
