
{% extends "crim/base0.html" %}

{% block content %}





<h3 class="title-border" style="text-align: center;">
  If you already know who the judge is for this Driving While License Suspended case choose them here,
otherwise choose "Not sure": </h3>
<form  method="post" action "">
      {% csrf_token %}

<center>If you know who your judge is, choose them here:</center>
<center> {{ pinell_judge.as_p }}</center>



            <p><center><input type="submit" value="continue" /></p></center>
</form>

{% endblock %}
