<title>Driving While License Suspended Cases in Judge Pierce's Courtroom</title>

{% extends "crim/base0.html" %}

{% block content %}


<h2 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Our search shows that {{ first }} {{last}}'s case is assigned to Judge Pierce.</h2>
<br>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

38% of people charged with Driving While License Suspended are convicted. 4% of cases are
dismissed, and 58% of people receive a withhold of adjudication, meaning that
while they may receive a penalty for the crime, they do not receive a conviction
on their record.

</p>

<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Outcome', 'Percent'],
			['Convicted',     38],
			['Dismissed',      4],
			['Withhold of Adjudication',  58],
		]);

		var options = {
			align: 'center',
			backgroundColor: {fill: 'transparent'},
			chartArea:{width:'90%'},
			is3D: true,
			title: "What Happens in Driving While License Suspended Cases in Judge Pierce's Courtroom",
			legend: {position: 'bottom',
					maxLines: '3',
					textStyle: {fontSize: '16'}
				},
			slices: {
				0: { color: '#121ca5' },
				1: { color: '#4651f2' },
				2: { color: '#84b1f9'}},
			pieSliceText: 'percentage',
			tooltip: {text: 'percentage'},
			animation: {"startup": true}
		};



		var chart = new google.visualization.PieChart(document.getElementById('mjposs-outcomes'));
		chart.draw(data, options);
	}

</script>

<div class='chart' id="mjposs-outcomes" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Do people hire an attorney for Driving While License Suspended cases in Pierce's courtroom?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

10% of people charged with Driving While License Suspended hire a private attorney in Judge
Pierce's courtroom. 15% go with the Public Defender, while 75% decide to
handle their cases on their own without an attorney.

</p>

<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Attorney Hire', 'Percent'],
			['Private Attorney',     10],
			['Public Defender',      15],
			['No Attorney', 75],
		]);

		var options = {
			align: 'center',
			backgroundColor: {fill: 'transparent'},
			chartArea:{width:'90%'},
			is3D: true,
			title: "Who Hires an Attorney for Driving While License Suspended Case in Judge Pierce's Courtroom",
			legend: {position: 'bottom',
					maxLines: '3',
					textStyle: {fontSize: '16'}
				},
			slices: {
				0: { color: '#121ca5' },
				1: { color: '#4651f2' },
				2: { color: '#84b1f9'}},
			pieSliceText: 'percentage',
			tooltip: {text: 'percentage'},
			animation: {"startup": true}
		};



		var chart = new google.visualization.PieChart(document.getElementById('atty-hire'));
		chart.draw(data, options);
	}

</script>

<div class='chart' id="atty-hire" align="center" size="75%"></div>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Does having an attorney make a difference?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
People who hire a private attorney are convicted 54% of the time, while
people who have the public defender are convicted 82% of the time. People
without an attorney, also  known as "Pro Se," are convicted 27% of the time.

</p>
<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 54, "color: #121ca5", '%'],
			 ["Public Defender", 82, "color: #4651f2",'%'],
			 ["No Attorney", 27, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Convictions for Driving While License Suspended in Judge Pierce's Courtroom",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("CONV_BY_ATTY"));
		 chart.draw(view, options);
 }
 </script>

<div id="CONV_BY_ATTY" class="chart" align="center" size="75%"></div>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Across Pinellas County people who hire a private attorney are convicted of
Driving While License Suspended 62% of the time, while people represented by the public
defender are convicted 88% of the time. People who handle their cases on their
own, also known as "Pro Se", are convicted 33% of the time.</p>

<script type="text/javascript">
	 google.charts.load("current", {packages:['corechart']});
	 google.charts.setOnLoadCallback(drawChart);
	 var inView = false;
	 function drawChart() {
		 var data = google.visualization.arrayToDataTable([
			 ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
			 ["Private Attorney", 62, "color: #121ca5", '%'],
			 ["Public Defender", 88, "color: #4651f2",'%'],
			 ["No Attorney", 33, "color: #84b1f9", '%']
		 ]);

		 var view = new google.visualization.DataView(data);
		 view.setColumns([0, 1,

												{ calc: "stringify",
												sourceColumn: 1,
												type: "string",
												role: "annotation",
												size: 50
												 },
											2]);

		 var options = {
			 inView: false,
			 is3d: true,
			 vAxis: {format: '#\'%\''},
			 backgroundColor: {fill: 'transparent'},
			 bar: {groupWidth: "85%"},
			 legend: { position: "none" },
			 animation: {
							 duration: 1000,
							 startup: true,

					 },
			 tooltip: {text: 'percentage', format: '#\'%\''},

			 title: "Convictions for Driving While License Suspended in Pinellas County",
			 titlePosition: 'out',


		 };
		 var chart = new google.visualization.ColumnChart(document.getElementById("PC_CONV_BY_ATTY"));
		 chart.draw(view, options);
 }
 </script>

<div id="PC_CONV_BY_ATTY" class="chart" align="center" size="75%"></div>


<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
  Can I get my Driving While License Suspended case dismissed or dropped?</h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
People who hire a private attorney have their cases dismissed 4% of the time,
while people who use the public defender have their cases dismissed 2% of
the time. People without an attorney have their case dismissed 4% of the time.

</p>

<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    var inView = false;
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
        ["Private Attorney", 4, "color: #121ca5", '%'],
        ["Public Defender", 2, "color: #4651f2",'%'],
        ["No Attorney", 4, "color: #84b1f9", '%']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,

                         { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation",
                         size: 50
                          },
                       2]);

      var options = {
        inView: false,
        is3d: true,
        vAxis: {format: '#\'%\''},
        backgroundColor: {fill: 'transparent'},
        bar: {groupWidth: "85%"},
        legend: { position: "none" },
        animation: {
                duration: 1000,
                startup: true,

            },
        tooltip: {text: 'percentage', format: '#\'%\''},

        title: "Driving While License Suspended Cases Dismissed in Judge Pierce's Courtroom",
        titlePosition: 'out',


      };
      var chart = new google.visualization.ColumnChart(document.getElementById("DISS_BY_ATTY"));
      chart.draw(view, options);
  }

  </script>

<div id="DISS_BY_ATTY" class="chart" align="center" size="75%"></div>



<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
What about getting a Withhold of Adjudication?</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

People who hire a private attorney receive a withhold of adjudication 42% of the
time, while people with the public defender receive a withhold of
adjudication 16% of the time. People without an attorney receive a withhold
of adjudication 69% of the time.
</p>


<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    var inView = false;
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Attorney", "Percentage", { role: "style" }, {role: "annotation"} ],
        ["Private Attorney", 42, "color: #121ca5", '%'],
        ["Public Defender", 16, "color: #4651f2",'%'],
        ["No Attorney", 69, "color: #84b1f9", '%']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,

                         { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation",
                         size: 50
                          },
                       2]);

      var options = {
        inView: false,
        is3d: true,
        vAxis: {format: '#\'%\''},
        backgroundColor: {fill: 'transparent'},
        bar: {groupWidth: "85%"},
        legend: { position: "none" },
        animation: {
                duration: 1000,
                startup: true,

            },
        tooltip: {text: 'percentage', format: '#\'%\''},

        title: "Driving While License Suspended Cases in Judge Pierce's Courtroom: Adjudication Withheld",
        titlePosition: 'out',


      };
      var chart = new google.visualization.ColumnChart(document.getElementById("WH_BY_ATTY"));
      chart.draw(view, options);
  }

  </script>

<div id="WH_BY_ATTY" class="chart" align="center" size="75%"></div>


<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
What is the typical penalty for Driving While License Suspended?</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
	The most common penalty for Driving While License Suspended is a $270 fine.
	Less than 1% of people receive probation for this charge.



</p>

{% endblock %}
