
{% extends "main/base0.html" %}

{% block content %}





<h3 class="title-border" style="text-align: center;">Disclaimer:</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
This is our disclaimer. A disclaimer is a statement that says what something does
and doesn't do. It also sets expectations for everyone, meaning what you expect
about this site, and what we expect you to understand when using this site.
If you don't agree with what's in this disclaimer then don't use the site. Simple as that.
</p>

<h3 class="title-border" style="text-align: center;">This website isn't legal advice:</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
By using this website and reading its content, you are agreeing that this is in
no way legal advice. This site contains algorithmic analysis of the details and
outcomes of cases, and doesn't tell you what to do or not do in your case. If you want
legal advice, you should hire a lawyer.
</p>
<h3 class="title-border" style="text-align: center;">
  No guarantees:</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Every court case is different. By using this site you understand that the informaiton
on it isn't a guarantee of anything. Our system analyzes hundreds of thousands of
court cases and uses that information to tell you what typically happens, not
what will happen in your case. By using this site you agree that you understand that.
</p>


{% endblock %}
