{% extends "main/base.html" %}

{% block content %}
<body>

  <form method="post" >
    {% csrf_token %}
  <center>

            <a href="main/detail.html" id="get started" class="button"><span>Get Started</span></a>
  </center>

  </form>

    <h2 class="landing-section-heading" style="text-align: center;">
      Easy, Custom-Built Florida Court Forms</h2>

    <p class="landing-section-heading" style="text-align: justify;">
      If you have a Florida small claims or discrimination case, our form builder
      makes creating the court documents as easy as answering questions. Our
      system creates the pdf forms for you so that you can easily save, print,
      and file. </p>


<br>

<h4>
</div><div  class="row  first_row"><div  class="col-sm-6  first_col"><div role="field" data-field-wrapper="fld_7795160" class="form-group">

</body>


{% endblock %}
