
<!DOCTYPE html>

<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>My Court Case</title>

<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />


		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>


<link rel='stylesheet' id='thefour-fonts-css'  href='https://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C300italic%2C400italic%7CMontserrat%3A400&#038;subset=latin%2Clatin-ext&#038;ver=4.6.1' type='text/css' media='all' />

<link rel='stylesheet' id='style-css'  href='https://samharden.github.io/stylesheets/style.css' type='text/css' media='all' />




<style type="text/css" media="screen"> html { margin:  !important; } * html body { margin: 40px 40px 40px 40px !important;
} @media screen and ( max-width: ) { html { margin: 70px 70px 70px 70px !important; } * html body { margin: 70px 70px 70px 70px !important;
}
	}
	}
img.wp-smiley, img.emoji { display: inline !important; border: none
!important; box-shadow: none !important; height: 1em !important; width:
1em !important; margin: 0 .07em !important; vertical-align: -0.1em
!important; background: none !important; padding: 0 !important;
}
</style>
</head>

    <title>DUI Cases in Judge Farr's Courtroom</title> </head>

<div class="wrapper">
	<div class="header-wrapper">
				<header class="header" style="background-image: url(http://res.cloudinary.com/hjbqakjln/image/upload/q_auto:good/v1474467770/background_qx4qte.png)" role="banner">
			<div class="navbar">
				<div class="container clearfix">
										<a class="brand" href="https://mycourtcase.herokuapp.com/">HOME</a>

					<a class="screen-reader-text skip-link" href="#content">Skip to content</a>
				</div>
			</div>
			<div class="header-inner container title-center">
				<h1 class="site-title">CRIME Cases in Judge JUDGE's Courtroom</a></h1><h3 class="site-description">Know Your Case, Know Your Chances.</h3>	</div>
		</header>
	</div>

  <body> <div id="container" margin="2cm 4cm 3cm 4cm"> <div
  class="inner">

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

GENERAL DESCRIPTION OF CASE OUTCOMES

</p> <p style="text-align: center;"><a
href="IMAGEURL" rel="attachment wp-att-180"><img class="aligncenter
wp-image-2027 size-large"
src="IMAGEURL" alt="hillsborough county dui cases judge farr
outcomes" width="760" height="661" /></a></p>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Do people hire an attorney for CRIME cases
in Judge JUDGE's courtroom?</h3> 

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >

ATTORNEY HIRING PARAGRAPH

</p> <p style="text-align: center;"><a
href="IMAGEURL" rel="attachment wp-att-199"><img class="aligncenter
wp-image-2028 size-large"
src="IMAGEURL" alt="dui attorney hiring judge farr
hillsborough county" width="760" height="661" /></a></p>

<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Does hiring a private attorney make a difference?</h3> 

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Having a private attorney is a 

</p> 
<p style="text-align: center;"><a
href="IMAGEURL" rel="attachment wp-att-370"><img
class="aligncenter wp-image-2029 size-large"
src="IMAGEURL" alt="hillsborough county dui cases judge
farr avoiding conviction" width="760" height="496" /></a></p>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
The average for judges in Hillsborough County is 	 for private attorneys, and 	 for those represented by the public defender. People who hire a private attorney are able to avoid a conviction 	 of the time, while people who use the public defender only avoid a conviction 	of the time. People who go without an attorney avoid a conviction 	of the time.</p>
<p style="text-align: center;"><a href="IMAGEURL" rel="attachment wp-att-183"><img class="aligncenter wp-image-2024 size-large" src="IMAGEURL" alt="hillsborough county dui cases who avoided conviction" width="760" height="504" /></a></p>



<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">Can I get my CRIME
case dismissed or dropped?</h3> 

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >


</p> <p
style="text-align: center;"><a href="IMAGEURL" rel="attachment wp-att-419"><img class="aligncenter
wp-image-2030 size-large"
src="IMAGEURL" alt="judge farr dui cases dismissed" width="760"
height="497" /></a></p>



<h3 style="text-align: center; margin: 10px 50px 10px 50px !important;">
Shouldn't I just represent myself?</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >



</p>

<p style="text-align: center;"><a
href="IMAGEURL" rel="attachment wp-att-374"><img class="aligncenter
wp-image-2032 size-large"
src="IMAGEURL" alt="hillsborough county dui cases judge farr
convictions" width="760" height="497" /></a></p>