
{% extends "crim/base0.html" %}

{% block content %}

<form  method="post" action "">
      {% csrf_token %}
<div width="50%">
  <h3 class="title-border" style="text-align: center;">Search For Your Specific Battery Case:</h3>
  <blockquote>
    <h4 style="text-align: center; margin: 0px 50px 10px 50px !important;">
    Please enter your full first and last name.</h4>
  <p><center>{{ party_name.as_p }}</center></p>

  <br>

              <center><p><input type="submit" value="continue" /></p></center>
  </blockquote>



{% endblock %}
