
{% extends "crim/base0.html" %}

{% block content %}

<form  method="post" action "">
      {% csrf_token %}
<div width="50%">
  <h3 class="title-border" style="text-align: center;">Search For Your Specific DUI Case:</h3>
<h4 style="text-align: justify; margin: 10px 50px 10px 50px !important;">
  If you have an active Hillsborough county DUI case and want our system to retrieve your case and judge information from
  court records, please enter your full first and last name. Otherwise check "I don't want to give my name." </h4><br>
<blockquote>
<p><center>{{ party_name.as_p }}</center></p>
</div>
<br>

            <center><p><input type="submit" value="continue" /></p></center>
</blockquote>
{% endblock %}
